[Unit]
Description=Hypridle Daemon
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/hypridle -c %h/.config/hypr/lock/hypridle.conf
Restart=on-failure
RestartSec=2

[Install]
WantedBy=graphical-session.target
